.card {
  width: 300px;
  height: 415px;
  background-color: #3c413f;
  border-radius: 20px;
}
.card-image {
  width: 120px;
  margin-top: 15px;
  margin-left: 15px;
}
.upper-container {
  display: flex;
  justify-content: space-between;
}
.card-body {
  margin-left: 15px;
}
.card-title {
  color: #f6f6f6;
  font-size: 16px;
  width: 90%;
}
.card-description {
  height: 40px;
  color: #f6f6f6;
  font-size: 14px;
}
.box-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.card-price {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 17 px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #555c59;
  color: #f6f6f6;
}

.stock-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #f6f6f6;
}
.societe {
  color: #fff2d2;
  font-size: 14px;
  font-weight: 600;
}
.card-Disk {
  padding-left: 7px;
}
.stocking {
  font-size: 14px;
  font-weight: lighter;
}

.card-button {
  width: 145px;
  height: 40px;
  margin-top: 15px;
  color: #0d120e;
  background-color: #ffd369;
  border-radius: 10px;
  border: 0;
  font-weight: bold;
}
.heart-icon-card {
  border: 0;
  background-color: transparent;
  color: #ffd369;
  font-size: 23px;
  padding-top: 10px;
}

.heart {
  display: flex;
  justify-content: space-around;
  margin-left: -33px;
}
