.main-right-side-container {
  width: 350px;
  height: 140px;
  background-color: #3c413f;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.main-right-side-container-selected {
  width: 350px;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 25px;
}
.right-card-image {
  margin-left: 15px;
  margin-top: 10px;
}

.right-card {
  display: flex;
}
.right-card-body-title {
  margin-left: 10px;
  width: 200px;
  display: flex;
}
.right-card-title {
  width: 190px;
  font-size: 14px;
  color: #f6f6f6;
}
.right-card-title-selected {
  width: 190px;
  font-size: 14px;
  color: #3c413f;
  font-weight: bolder;
}
.right-card-price {
  margin-right: -42px;
  font-size: 14px;
  color: #f6f6f6;
}
.right-card-price-selected {
  margin-right: -42px;
  font-size: 14px;
  color: #3c413f;
  font-weight: bold;
}

.right-societe {
  margin-top: -5px;
  margin-left: 14px;
  margin-bottom: 7px;
  color: #f6f6f6;
  font-size: 12px;
  font-weight: lighter;
}
.right-societe-selected {
  margin-top: 10px;
  margin-left: 14px;
  margin-bottom: 7px;
  color: #3c413f;
  font-size: 12px;
  font-weight: bold;
}

.right-button-container {
  margin-left: 100px;
}
.right-card-button {
  width: 70px;
  height: 25px;
  background-color: #f6f6f6;
  border-radius: 10px;
  border: 0;
}
.right-card-button-selected {
  display: none;
}
.icon-view {
  color: #f6f6f6;
  background-color: none;
  margin-left: 15px;
}
.icon-view-selected {
  display: none;
}
.icon-view:hover {
  color: black;
  margin-left: 15px;
}
