.card {
  border-radius: 10px;
  margin: 10px;
}
.Slide {
  margin-top: -160px;
  width: 70%;
  margin-left: 190px;
}

.Slide .h1 {
  color: white;
}
.carousel .slick-slide {
  margin: 0 5px;
}
.react-multiple-carousel__arrow--left {
  margin-right: 100px;
}
.writing-carousel {
  color: #f6f6f6;
  font-size: 10px;
  margin-bottom: 50px;
  margin-left: -120px;
}

.first-choice img {
  border-radius: 10px;
  height: 120px;
}

.text-block {
  position: absolute;
  margin-bottom: 6px;
  bottom: 0;
  left: 0;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 0px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.327);
  backdrop-filter: blur(1px);
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.text-block h2 {
  font-size: 12px;
  margin: -10px 0 0;
}

.card-three img {
  border-radius: 10px;
  height: 120px;
}

.card-four img {
  border-radius: 10px;
  height: 120px;
}

.card-five img {
  border-radius: 10px;
  height: 120px;
}
.card-six img {
  border-radius: 10px;
  height: 120px;
}
.btn-yellow-two {
  background: #ffd369;
  color: black;
  font-size: 20px;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 7px;
  float: right;

  width: 170px;
}
.btn-container {
  width: 200px;
  height: 170px;
  margin-left: -150px;

  padding-top: 90px;
}
