.homebutton {
  right: 0px;
  width: 125px;
  padding-top: 10px;
  padding-right: 1310px;
  position: absolute;
  z-index: 2;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.homebutton a {
  display: block;
  margin-bottom: 1em;
  padding: 0.3em 1.25em;
  border: 1px solid #c2c7cc;
  font-family: "Open-Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  text-decoration: none;
  color: #1d232b;
  cursor: pointer;
  background: #fff;
  transition: color, border-color ease 0.3s;
  border-radius: 2em;
}
.homebutton a:hover {
  border-color: #ffd369;
  background-color: #fde19f;

  text-decoration: none;
}
