.AdminPage-container {
  display: flex;
  flex-direction: column;
}
.AdminPage-bgr-clr {
  background-color: #3c413f;
  height: 600px;
  width: 1300px;
  margin-left: 100px;
  margin-top: 50px;
}
.AdminPage-title {
  font-size: 50px;
  color: #ffd369;
  padding-left: 370px;
  padding-top: 110px;
}
.AdminPage-paragraph1 {
  font-size: 25px;
  color: #f6f6f6;
  padding-left: 481px;
}
.AdminPage-paragraph2 {
  font-size: 20px;
  color: #f6f6f6;
  padding-left: 210px;
}
.AdminPage-btn-container {
  margin-top: 50px;
  padding-left: 390px;
}
.Updateme-btn {
  margin-right: 190px;
  width: 170px;
  height: 50px;
  color: #0d120e;
  background: linear-gradient(90deg, #ffd369, #ffebbb);
  border-radius: 10px;
  border: 0;
  font-weight: bold;
}
.checkusr-btn {
  width: 170px;
  height: 50px;
  color: #0d120e;
  background: linear-gradient(-90deg, #ffd369, #ffebbb);
  border-radius: 10px;
  border: 0;
  font-weight: bold;
}
