.wishes-icon {
  margin-left: 740px;
  margin-top: 50px;
  height: 40px;
}
.wishes-container {
  height: 40px;
}
.wishes-parag {
  font-size: 40px;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.wishList-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
}
